@model PagedList.IPagedList<FunWithAspnetMVC.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Поиск</h2>
       @using (Html.BeginForm(FormMethod.Get))
       {
           <p>
               Введите: @Html.TextBox("SearchString")
               <input type="submit" value="Найти"/>
           </p>
       }
    </div>
    <div class="col-md-4">
        <h2>Результаты поиска</h2>
        <table class="table">
            <tr>
                <th >
                    @if (Model != null)
                    {
                       @Html.ActionLink("Название книги", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    }
                    else
                    {
                        <div> Название книги</div>
                    }
                </th>
                <th>
                    @if (Model != null)
                    {
                        @Html.ActionLink("Жанр книги", "Index", new { sortOrder = ViewBag.GenreSortParm, currentFilter = ViewBag.CurrentFilter })
                    }
                    else
                    {
                        <div> Жанр книги</div>
                    }
                </th>
                <th>
                    @if (Model != null)
                    {
                        @Html.ActionLink("Фамилия автора книги", "Index", new { sortOrder = ViewBag.WriterLastNameSortParm, currentFilter = ViewBag.CurrentFilter })
                    }
                    else
                    {
                        <div> Фамилия автора книги</div>
                    } 
                </th>
                <th>
                    @if (Model != null)
                    {
                        @Html.ActionLink("Имя автора книги", "Index", new { sortOrder = ViewBag.WriterNameSortParm, currentFilter = ViewBag.CurrentFilter })
                    }
                    else
                    {
                        <div> Имя автора книги</div>
                    }
                </th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Writer.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Writer.FirstName)
                        </td>

                    </tr>
                }
            }
        </table>
        <br/>

        @if (Model != null)
        {
            <div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount;

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        }

       

    </div>
</div>